*,.container{
	margin: 0vh;
	padding: 0vh;
	box-sizing: border-box;
	position: static;
}
.container{
	width: 80%;
	align-items: stretch;
}
.main{
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}
.header{
	padding-top: 4vh;
	padding-bottom: 4vh;
	display: flex;
	width: 150vh;
	height: 16vh;
	justify-content: space-between;
}
.logo{
	padding-left: 4vh;
	align-items: start;
}
.logo a img{
	width: 10.0vh;
}
.name{
	margin: auto;
	align-items: center;
	justify-content: center;
	padding-left: 45vh;
}
#title{
	font-size: 10.0vh;
	font-style: italic;
	font-family: monospace;
}
.hamburgersign{
	padding-left: 25vh;
	padding-right: .2vh;
}
.hamburgersign img{
	width: 10.0vh;
}
.subcontainer{
	padding: 1vh;
	height: 60vh;
	display: flex;
	margin-top: 10vh;
	margin-left: 40vh;
	margin-bottom: 10vh;
	height: auto;
	overflow: hidden;
}
.img1 img,.img2 img,.img3 img,.img4 img{
	width: 80.0vh;
	image-rendering: auto;
	height: auto;
	padding: 1vh;
	margin: auto;
}
#button{
	height: 8.0vh;
	width: 4.0vh;
	margin: auto;
	padding: 2.0vh;
}
.container2{
	padding: 1vh;
	width: 20%;
	height: 140.0vh;
	transition: .5s;
	font-size: 4.0vh;
	overflow: hidden;
	border: 0.5vh;
	align-items: center;
	justify-content: center;
}
ul{
	padding: 1vh;
	align-items: initial;
	align-content: space-between;
	justify-content: center;
	justify-items: lecacy center;
}
li{
	border: 0.5vh;
	border-color: black;
	border-style: solid;
	background-color: orangered;
	margin: 4vh;
}
#buttonarrow1{
	margin: auto;
	align-self: center;
	align-items: center;
	justify-content: center;
}
#buttonarrow1,#buttonarrow2{
	width: 5vh;
	height: 10vh;
	background-color: white;
	border: 0.5vh;
}
.sliders{
	display: flex;
	overflow: hidden;
}
.sliders input{
	display:none;
}
.slide{
	width: 20%;
	transition: 2s;
}
.slide img{
	width: 300px;
	height: auto;
}
.manual{
	position: absolute;
	width: 100%;
	display: flex;
	margin-top: -18vh;
	justify-content: center;
	align-items: center;
}
.manual-btn{
	border: .2vh solid black;
	border-radius: 15px;
	cursor: pointer;
	transition: 1s;
	padding: 1vh;
	margin: 1.8vh;
}
.manual-btn:not(:last-child){
	margin-right: 10px;
}
.manual-btn:hover{
	background: #40D3DC;
}

#radio1:checked ~ .first{
	margin-left: 0;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio4:checked ~ .first{
	margin-left: -60%;
}
