*,.container{
	margin: 0px;
	padding: 0px;
	background-color: papayawhip;
}
.header{
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-grow: inherit;
	height: 60px;
}
.logo{
	padding-left: 20px;
	align-items: start;
}
.logo a img{
	width: 50px;
}
.name{
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
}
#title{
	margin: auto;
	font-size: 50px;
	font-style: italic;
	font-family: monospace;
}
.hamburgersign{
	padding-right: 20px;
	align-items: end;
}
.hamburgersign img{
	width: 50px;
}
.subcontainer{
	padding: 5px;
	height: 600px;
	display: flex;
	margin: auto;
	height: auto;
}
.img1 img{
	width: 400px;
	image-rendering: auto;
	height: auto;
	padding: 5px;
	margin: auto;
}
.img2 img{
	width: 400px;
	image-rendering: auto;
	height: auto;
	padding: 5px;
	margin: auto;
}
.img3 img{
	width: 400px;
	image-rendering: auto;
	height: auto;
	padding: 5px;
	margin: auto;
}
.img4 img{
	width: 400px;
	image-rendering: auto;
	height: auto;
	padding: 5px;
	margin: auto;
}
.img5 img{
	width: 400px;
	image-rendering: auto;
	height: auto;
	padding: 5px;
}
.img6 img{
	width: 400px;
	image-rendering: auto;
	height: auto;
	padding: 5px;
	margin: auto;
}
.img7 img{
	width: 400px;
	image-rendering: auto;
	height: auto;
	padding: 5px;
	margin: auto;
}
.img8 img{
	width: 400px;
	image-rendering: auto;
	height: auto;
	padding: 5px;
	margin: auto;
}
#button{
	height: 40px;
	width: 20px;
	margin: auto;
	padding: 10px;
}