*,.container{
	margin: 0vh;
	padding: 0vh;
	box-sizing: border-box;
	position: static;
}
.container{
	width: 150vh;
	align-items: stretch;
}
.main{
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}
.header{
	padding-top: 4vh;
	padding-bottom: 4vh;
	display: flex;
	width: 150vh;
	height: 16vh;
	justify-content: space-between;
}
.logo{
	padding-left: 4vh;
	align-items: start;
}
.logo a img{
	width: 10.0vh;
}
.name{
	margin: auto;
	align-items: center;
	justify-content: center;
	padding-left: 30vh;
}
#title{
	font-size: 10.0vh;
	font-style: italic;
	font-family: monospace;
}
.hamburgersign{
	padding-right: .2vh;
}
.hamburgersign img{
	width: 10.0vh;
}
.subcontainer{
	padding: 1vh;
	height: 60vh;
	display: flex;
	margin: auto;
	height: auto;
}
.img1 img,.img2 img,.img3 img,.img4 img,.img5 img,.img6 img,.img7 img,.img8 img{
	width: 80.0vh;
	image-rendering: auto;
	height: auto;
	padding: 1vh;
	margin: auto;
}
#button{
	height: 8.0vh;
	width: 4.0vh;
	margin: auto;
	padding: 2.0vh;
}
.container2{
	padding-top: 4vh;
	width: 40vh;
	height: 140.0vh;
	transition: .5s;
	font-size: 4.0vh;
	z-index: 1;
	overflow: auto;
	border: 0.5vh;
}
ul{
	padding: 6vh;
	align-items: initial;
	align-content: space-between;
	justify-content: center;
	justify-items: lecacy center;
}
li{
	border: 0.5vh;
	border-color: black;
	border-style: solid;
	background-color: orangered;
	margin: 4vh;
}